<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

header {
  color: White;
  padding: 1px 0px 1px 50px;
  background-color: rgb(75,75,75);
  font-size: 13px;
  margin: -9px -9px 0px -9px;
}

body {
  background-color: rgb(230,230,230);
}

strong {
	padding: 0px 100px 100px 0px;
}

.search {
	padding: 50px 100px 0px 0px;
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
<header>
  <h2>Anime Recommender</h2>
</header>
<body>
  <button id="refreshButton">Refresh Search</button>
  <br><br>
  <strong>If you are not sure about the full anime name, you get it by inputing a partial name below. Then you can copy paste the full anime name to get 5 other similar animes</strong>
  <br><br><br>
  <div id="full_name">
    <input type="text" placeholder="search_full" id="search_full">
    <button id="request_full">Submit Partial Name</button>
  </div>
  <br>
  <div id="similar_name">
    <input type="text" placeholder="search_similar" id="search_similar">
    <button id="request_similar">Submit Full Name</button>
  </div>
  

  <script src="../js/search.js"></script>
</body>
</html>